171111_SPRING_export/spring*
171111_SPRING_export/SPRING/
170505_seurat/seurat_guided_clustering_tutorial/
170529_images/DeepFlow/
.scanpy/
archive/*
figures/*
data/*
write/*
*/archive/*
*/figures/*
*/data/*
*/write/*
.*

# R
.RData*
.Rhistory*

# Python / Byte-compiled / optimized / DLL
__pycache__/
*.py[cod]
*.so
.cache

# always-ignore extensions
*~

# OS or Editor files and folders
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.directory
/.idea/

# always-ignore directories
/dist/
/build/